# This file was partly modified by the lean package validator (http://git.io/lean-package-validator).

.gitattributes   export-ignore
.github/ 	     export-ignore
.gitignore       export-ignore
examples/        export-ignore
phpcs.xml        export-ignore
phpunit.xml.dist export-ignore
README.md        export-ignore
tests/           export-ignore
