parameters:
  level: max

  parallel:
    maximumNumberOfProcesses: 4

  paths:
    - src
    - tests

  ignoreErrors:
    -
      message: '#Undefined variable\: \$this#'
      paths:
        - tests/*
    -
      message: '#Call to an undefined method Pest\\PendingCalls\\TestCall\|Pest\\Support\\HigherOrderTapProxy\:\:.+\(\)\.#'
      paths:
        - tests/*
