<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    columns="max"
    displayDetailsOnTestsThatTriggerWarnings="true"
    failOnDeprecation="true"
    failOnWarning="true"
    failOnNotice="true"
    failOnRisky="true"
    executionOrder="random"
>
    <testsuites>
        <testsuite name="feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <php>
        <env name="TYPESENSE_NODE_HOST" value="localhost" />
        <env name="TYPESENSE_NODE_PORT" value="8108" />
        <env name="TYPESENSE_NODE_PROTOCOL" value="http" />
        <env name="TYPESENSE_API_KEY" value="xyz" />
    </php>
</phpunit>