name: tests

on: [push, pull_request]

jobs:
  test:
    name: Run tests with PHP v8.3
    runs-on: ubuntu-latest
    services:
      typesense:
        image: typesense/typesense:30.0.alpha1
        ports:
          - 8108:8108
        volumes:
          - /tmp/typesense-data:/data
          - /tmp/typesense-analytics:/analytics
        env:
          TYPESENSE_API_KEY: xyz
          TYPESENSE_DATA_DIR: /data
          TYPESENSE_ENABLE_CORS: true
          TYPESENSE_ANALYTICS_DIR: /analytics
          TYPESENSE_ENABLE_SEARCH_ANALYTICS: true
        options: --analytics-minute-rate-limit=50

    steps:
      - uses: actions/checkout@v4
      - name: Setup PHP 8.3
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: xdebug
      - uses: php-actions/composer@v6
      - name: Run tests
        run: vendor/bin/phpunit --coverage-text --testdox
